doctype 5
html
  head
    if locals.title
      title = title
    else
      title My Morning Coffee
    //- link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootswatch/united.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/responsive.css')
    script(src="http://code.jquery.com/jquery-latest.js")
    script(src='/javascripts/bootstrap/bootstrap.min.js')  

  body
    .navbar.navbar-fixed-top.active
      .navbar-inner
        .container
          a(class="brand", href="#")
            | My Morning Coffee
        
          .pull-right
            .nav
              li 
                a(href=urlFor({ controller: 'user', action: 'new' })) Sign Up
              li 
                a(href=urlFor({ controller: 'user', action: 'login' })) Login
              li
                a(href=urlFor({ controller: 'user', action: 'logout' })) Logout
            //- a.btn.btn-success Sign Up
            //- a.btn.btn-primary Login

    .container
      .hero-unit
        h1 My Morning Coffee
        p(style="padding-top: 1em;")
          a.btn.btn-primary.btn-large
            i.icon-glass.icon-white 
            | Learn more
      .row
        .span8
          block content
        .span4
          .well
            //- ul
              //- each key, val in locals
                //- li #{val}: #{key}      